# Игнорировать виртуальные окружения
venv/
.venv/
env/
.env/

# Игнорировать файлы с кэшами и другие автоматически генерируемые файлы
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Игнорировать IDE и настройки редакторов
.idea/

# Игнорировать конфигурации окружений
.env